body{
    background-repeat: no-repeat;
    width:100%;
    height:700px ;
    background-size: cover;
    background-image: url("https://static.nc-img.com/pp/cms/home-reskinned-alternate/images/hero-decor-img-sm.bf16e76754312caf1bee0444ccf1c0d4.svg");
    
}